:root {
    --very-dark-brown: #534949;
    --light-brown: #9E8277;
    --main-green: #869E9A;
    --light-green: #DFEBE8;
    --beige-solid: #EBE1DF;
    --beige-transparent: #ebe2df46;
  }

/*
General styles
*/

html {
    height: 100%;
}

body {
    font-family: 'Poppins';
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
    padding-bottom: auto;
}

button.brown-button {
    font-size: 20px;
    background-color: var(--light-brown);
    color: white;
    height: 65px;
    width: 300px;
    border: none;
    border-radius: 5px;
}

/*
Navbar styles
*/

nav {
    background-color: var(--main-green);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#logo {
    height: 50px;
    margin: 0 0 10px 0;
}

#logo img {
    height: 50px;
}

#nav-menu ul {
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    line-height: 24px;
}

#nav-menu a {
    text-decoration: none;
    font-weight: regular;
    font-size: 20px;
    color: white;
}

/* desktop */
@media only screen and (min-width: 768px){
    nav {
        padding: 20px 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-shrink: 0;
    }

    #nav-menu {
        display: flex;
        width: 70vw;
        justify-content: flex-end;
    }

    #nav-menu ul {
        float: right;
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        width: 30vw;
    }
}

/*
Footer styles
*/

footer {
    background-color: var(--light-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

footer #navigation a {
    text-decoration: none;
    color: var(--very-dark-brown);
}

footer #legal a {
    text-decoration: none;
    color: white;
}

footer ul {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    align-items: flex-start;
    width: 140px;
}

footer #brand {
    color: white;
    margin: 10px 0;
}

/* desktop */
@media only screen and (min-width: 768px) {
    footer {
        flex-direction: row;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
    }

    footer ul {
        display: flex;
        flex-direction: row;
    }
    
    footer #navigation ul {
        justify-content: space-evenly;
        align-items: center;
        width: 50vw;
    }
    
    footer #legal ul {
        justify-content: space-between;
        align-items: flex-end;
        width: 30vw;
        padding: 65px 0 0 0;
    }
    
    footer #brand {
        float: right;
        font-weight: 500;
        font-size: 18px;
        padding: 65px 5px 0 0;
        word-wrap: normal;
    }
}

/*
Homepage styles
*/

.splash-screen {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px var(--beige-solid);
}

.splash-img {
    display: none;
}

.splash-text {
    background-color: var(--beige-transparent);
    padding: 15vh 5vw;
}

.splash-text h1 {
    font-weight: 400;
    font-size: 60px;
    color: var(--very-dark-brown);
    line-height: 70px;
    margin: 0 0 20px 0;
}

.splash-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 20px 0;
}

.splash-button {
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: var(--light-brown);
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.use-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: regular;
    text-align: center;
}

.use-list li {
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 250px;
    margin: 0 0 10px 0;
}

.use-img {
    height: 150px;
    width: 150px;
    margin: 0 0 10px 0;
}

/* desktop */

@media only screen and (min-width: 768px) {
    .splash-img {
        width: 50vw;
    }

    #div-use-list {
        height: 240px;
        margin: 30px 0 0 0;
    }

    .use-list {
        display: flex;
        flex-direction: row;
    }
}

/*
'Discover' page styles
*/

/*
'Join' page styles
*/

/*
'Connect' page styles
*/

.content#login-page{
    background-color: var(--main-green);
}

#login-page {
    display: flex;
    padding: 5vh 5vw;
    justify-content: space-evenly;
    align-items: center;
}

#login-page container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
}

#login-page form {
    width: 30vw;
    height: 20vw;
    padding: 10vh 5vw;
    background-color: white;
    border-radius: 5px;
}

#login-page form input {
    background-color: transparent;
    border: none;
    color: var(--beige-transparent);
    font-size: 20px;
}

#login-page form a {
    color: var(--light-brown);
    text-decoration: none;
    font-size: 16px;
    float: right;
    margin: 0 0 10px 0;
}

.login-input {
    border-bottom: solid 1px var(--very-dark-brown);
    height: 30px;
    margin: 20px 0 10px 0;
}

.login-input img {
    width: 24px;
}

#login-page h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    margin: 0 0 10px 0;
}

#login-page p {
    font-size: 24px;
    line-height: 30px;
}
