:root {
    --very-dark-brown: #534949;
    --light-brown: #9E8277;
    --main-green: #869E9A;
    --light-green: #DFEBE8;
    --beige-solid: #EBE1DF;
    --beige-transparent: #ebe2df46;
  }

/*
General styles
*/

body{
    font-family: 'Poppins';
    text-decoration: none;
}

/*
Navbar styles
*/

nav {
    background-color: var(--main-green);
    padding: 20px 100px;
    display: flex;
    align-items: center;
}

div#logo {
    height: 50px;
}

#logo img {
    height: 50px;
}

#nav-menu {
    display: flex;
    width: 70vw;
    justify-content: flex-end;
}

#nav-menu ul {
    float: right;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 30vw;
}

#nav-menu a {
    text-decoration: none;
    font-weight: regular;
    font-size: 24px;
    color: white;
    margin: 20px 20px;
}

/*
Footer styles
*/

footer {
    height: 110px;
    background-color: var(--light-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer #navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
}

footer #legal ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 30vw;
    padding: 65px 0 0 0;
}

footer #navigation a {
    text-decoration: none;
    color: var(--very-dark-brown);
}

footer #legal a {
    text-decoration: none;
    color: white;
}

footer #brand {
    float: right;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 65px 0 0 0;
    word-wrap: normal;
}

/*
Homepage styles
*/

.splash-screen {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px var(--beige-solid);
}

.splash-img {
    width: 50vw;
}

.splash-text {
    background-color: var(--beige-transparent);
    padding: 15vh 5vw;
}

.splash-text h1 {
    font-weight: 400;
    font-size: 60px;
    color: var(--very-dark-brown);
    line-height: 70px;
    margin: 0 0 20px 0;
}

.splash-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 20px 0;
}

.splash-button {
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: var(--light-brown);
    font-weight: 400;
    font-size: 18px;
    color: white;
}

#div-use-list {
    height: 240px;
    margin: 30px 0 0 0;
}

.use-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: regular;
    text-align: center;
}

.use-list li {
    flex-direction: column;
    justify-content: center;
    height: 150px;
    width: 250px;
}

.use-img {
    height: 150px;
    width: 150px;
    margin: 0 0 10px 0;
}

